@import "styles/mixins.scss";

$white: #fff;
$concrete: #f2f2f2;
$gallery: #eaeaea;
$mercury: #e6e6e6;
$gray: #888;
$doved-gray: #666;
$mine-shaft: #333;
$cod-gray: #1a1a1a;
$dark-gray: #121212;
$black: #000;
$alizarin-crimson: #e71d36;
$amber: #ffbe0b;
$international-orange: #fb5607;
$rose: #ff006e;
$electric-violet: #8338ec;
$dodger-blue: #3a86ff;

@mixin gen-color($name, $color: $name) {
  #{$name}: #{$color};
  #{$name}-rgb: #{hex-to-rgb($color)};
}

@mixin light-theme {
  --background-color: var(--concrete);
  --alt-background-color: var(--mercury);
  --on-background-color: var(--cod-gray);
  --surface-color: var(--white);
  --alt-surface-color: var(--cod-gray);
  --reverse-surface-color: var(--alt-surface-color);
  --alt-reverse-surface-color: var(--surface-color);
  --on-surface-color: var(--cod-gray);
  --on-alt-surface-color: var(--mercury);
  --on-reverse-surface-color: var(--on-alt-surface-color);
  --on-alt-reverse-surface-color: var(--on-surface-color);
  --primary-color: var(--alizarin-crimson);
  --on-primary-color: #{rgba(get-rgb(--white), 0.9)};
  --secondary-color: var(--doved-gray);
  --accent-color: var(--gallery);
  --nav-color: #{rgba(get-rgb(--white), 0.6)};
  --input-color: var(--white);
}

@mixin dark-theme {
  --background-color: var(--dark-gray);
  --alt-background-color: var(--cod-gray);
  --on-background-color: var(--white);
  --surface-color: var(--mine-shaft);
  --alt-surface-color: var(--concrete);
  --reverse-surface-color: var(--alt-surface-color);
  --alt-reverse-surface-color: var(--surface-color);
  --on-surface-color: var(--white);
  --on-alt-surface-color: var(--cod-gray);
  --on-reverse-surface-color: var(--on-alt-surface-color);
  --on-alt-reverse-surface-color: var(--on-surface-color);
  --primary-color: var(--alizarin-crimson);
  --on-primary-color: #{rgba(get-rgb(--white), 0.9)};
  --secondary-color: var(--gray);
  --accent-color: var(--mine-shaft);
  --nav-color: #{rgba(get-rgb(--black), 0.6)};
  --input-color: var(--black);
}

@function hex-to-rgb($hex) {
  @return red($hex), green($hex), blue($hex);
}

:root {
  @include gen-color(--white, $white);
  @include gen-color(--concrete, $concrete);
  @include gen-color(--gallery, $gallery);
  @include gen-color(--mercury, $mercury);
  @include gen-color(--gray, $gray);
  @include gen-color(--doved-gray, $doved-gray);
  @include gen-color(--mine-shaft, $mine-shaft);
  @include gen-color(--cod-gray, $cod-gray);
  @include gen-color(--dark-gray, $dark-gray);
  @include gen-color(--black, $black);
  @include gen-color(--alizarin-crimson, $alizarin-crimson);
  @include gen-color(--amber, $amber);
  @include gen-color(--international-orange, $white);
  @include gen-color(--rose, $rose);
  @include gen-color(--electric-violet, $electric-violet);
  @include gen-color(--dodger-blue, $dodger-blue);
}

.light-theme {
  @include light-theme();
}

.dark-theme {
  @include dark-theme();
}

@media (prefers-color-scheme: light) {
  .system-theme {
    @include light-theme();
  }
}

@media (prefers-color-scheme: dark) {
  .system-theme {
    @include dark-theme();
  }
}

.system-theme,
.light-theme,
.dark-theme {
  background-color: var(--background-color);
  color: var(--on-background-color);
}
