@import "styles/mixins";

.footer {
  padding: 10px 0;
  // background-color: color(--alt-surface);
  border-top: 1px solid color(--accent);

  .container {
    @include container();
    display: flex;
    justify-content: space-between;
    align-items: center;

    p {
      color: color(--secondary);
    }
  }
}
